html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	font-family: 'Amiko', sans-serif;
}

body {
    line-height:1;
background-color:#1e1e1e;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
text-decoration:none;
}

a[href^=tel] {
   text-decoration:inherit;
   color: inherit;
}

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

section {position:relative;z-index:1;}

/* Start Site */
.body-bg {float:left;width:100%;z-index:1;top:0;position:fixed;width:100%;background-repeat:no-repeat;background-position:center;background-size:cover;background-attachment:fixed;}
.container {width:1208px;margin:0 auto;padding:0 20px;box-sizing:border-box;position:relative;z-index:2;}
.col {padding:10px;box-sizing:border-box;}
.col-4 {width:376px;}

header {position:fixed;width:100%;float:left;padding:72px 0 30px;margin-bottom:92px;transition:all 0.5s;z-index:10;background:#0e0e0d;}
header + section {padding-top:230px;}
header .container {width:1168px;padding:0 0 20px;}
.logo {color:#95713a;font-weight:bold;font-size:30px;letter-spacing:-3px;z-index:2;position:relative;}
.logo:hover {opacity:0.7}
.nav {list-style-type:none;float:right;margin-top:10px;font-size:20px}
.nav li {color:#4f4f4e;float:left;margin-left:15px;font-size:18px}
.nav li a {color:#4f4f4e}
.nav li a:hover {opacity:0.7}
.nav li.active a {font-weight:bold;color:#95713a;}
header.sticky {padding:10px 0;background:rgba(0,0,0,0.8);transition:all 0.5s;}
header.sticky .container {border:0;padding:0;}

.page-cap {float:left;width:100%;}
.page-cap h2 {color:#4f4f4e;font-weight:bold;font-size:36px;float:left;margin-bottom:20px;}
.toggle-text {margin-top:5px;background-image:url('../img/icon-down.png');float:right;width:28px;height:28px;background-size:cover;background-repeat:no-repeat;transition:all 2s;}
.toggle-text.open {background-image:url('../img/icon-up.png');transition:all 2s;}
.toggle-text:hover {cursor:pointer;}
.toggle-text + .help-text {max-height:0;transition:all .5s ease-out;opacity:0;}
.toggle-text.open + .help-text {max-height:1000px;transition:all .5s ease-in;opacity:1;}
.help-text {height:auto;color:#4f4f4e;float:left;width:100%;font-size:30px;margin-bottom:20px;line-height:40px;}

.page-work-grid {display:flex;float:left;width:100%;flex-wrap:wrap;justify-content:space-between;}
.work-card {width:376px;margin-bottom:20px;position:relative;}
.work-card img {float:left;width:100%;height:auto;}
.work-card .card-text {background:rgba(0,0,0,0.8);font-size:12.5px;color:#898989;position:absolute;bottom:0px;height:0;opacity:0;transition:all 0.25s;padding:30px;box-sizing:border-box;display:block;float:left;width:100%;}
.work-card:hover .card-text {opacity:1;height:85px;transition:all 0.25s;}
.work-card .card-text h3 {font-weight:bold;text-transform:uppercase;margin-bottom:5px;}
.mobile-thumb {display:none;}

.page-cap-project {float:left;width:100%;}
.page-cap-project h2 {color:#4f4f4e;font-weight:bold;font-size:30px;float:left;margin-bottom:20px;}
.page-cap-project .help-text {font-size:17px;line-height:20px;}
.page-cap-project .help-text span {color:#95713a;font-size:17px;line-height:20px;}

.page-project {float:left;width:100%;}
.page-project .row {float:left;width:100%;}
.page-project .row.one-img img {float:left;width:100%;height:auto;}
.page-project .row.two-img img {float:left;width:50%;height:auto;}
.page-project .row.three-img img {float:left;width:33.33%;height:auto;}
.page-project + .copyright {border:0;}

.download {width:calc(100% - 140px);float:right;display:flex;flex-wrap:wrap;padding:63px 0 47px 40px;justify-content:space-between;align-items:center;color:#95713a;font-size:30px;font-weight:bold;}
.download a {color:#95713a;}
.download a:hover {opacity:0.7}
.accordion {float:right;width:calc(100% - 100px);border-top:1px solid #4f4f4e;}
.accordion-bar {overflow:hidden;padding:24px 0 24px 40px;border-bottom:1px solid #4f4f4e;background-image:url('../img/icon-down.png');background-repeat:no-repeat;background-position:right 22px;background-size:22px;}
.accordion-bar:hover {cursor:pointer;}
.accordion-bar.open {background-image:url('../img/icon-up.png')}
.accordion-bar h3 {font-size:30px;color:#898989;font-weight:bold;}
.accordion-panel {display:none;width:772px;float:right;font-size:22px;font-weight:bold;color:#898989;padding:0 20px 26px 0;box-sizing:border-box;}
.accordion-bar h4 {font-size:18px;}
.accordion-panel span {font-size:14px;line-height:19px;font-weight:normal;color:#95713a;display:block;margin-top:5px;}
.accordion-panel p {font-size:16px;font-weight:normal;color:#4f4f4e;line-height:19px;margin:5px 0 10px;}
.accordion-panel p:last-of-type {margin:5px 0 0;}
.resume-part + .resume-part {margin-top:20px;}
.copyright {font-size:11px;font-weight:bold;color:#4f4f4e;margin:10px 0 50px;float:left;width:100%;border-top:1px solid #4f4f4e;padding-top:10px;}
.copyright span {font-weight:normal;}
.accordion-bar + .copyright,
.page-contact .copyright {border:none;}

.page-contact {float:right;width:calc(100% - 100px)}
.page-contact .row {border-bottom:1px solid #4f4f4e;padding:40px 0 40px 40px;font-size:57px;font-weight:bold;color:#898989;}
.page-contact .row a {color:#95713a;}

.hamburger {outline:0;display:none;}
.hamburger--collapse .hamburger-inner:after {top:-16px}
.hamburger-box {width:30px;}

@media screen and (max-width:1210px) {
	.container {width:100%;}
	header .container {padding:0 20px;box-sizing:border-box;width:100%;}
	.page-work-grid .work-card {width:calc(33.33% - 10px);}
}

@media screen and (max-width:1120px) {
	.page-cap h2 {margin-bottom:20px;}
}

@media screen and (max-width:1100px) {
	.accordion-panel {width:70vw;margin:20px 0 0;}
}

@media screen and (orientation:landscape) and (max-width:900px) {
	header {padding:15px 0;margin-bottom:20px;}
	header .container {padding:0 20px;box-sizing:border-box;width:100%;}
	header + section {padding-top:110px;}
	.hamburger {position:relative;display:block;float:right;padding:0;z-index:2;}
	.nav {width:100%;float:left;transform:translateY(-400%);top:0;left:0;position:absolute;transition:all 500ms;background:#0e0e0d;z-index:0;}
	.hamburger.is-active + .nav {transform:translateY(0);top:30px;transition:all 500ms;}
	.nav li {width:calc(100% - 40px);padding:24px 0;border-bottom:1px solid #4f4f4e;margin-left:20px;}
	.nav li:last-of-type {border-bottom:none;}
	.page-cap-project .help-text {font-size:14px;line-height:18px;}
	.page-cap-project .help-text span {font-size:14px;line-height:18px;}
}

@media screen and (max-width:768px) {
	.page-contact {width:100%;}
	.page-project {width:calc(100% + 40px);margin:0 -20px;}
	.desktop-thumb,
	.card-text {display:none;}
	.mobile-thumb {display:block;}
}

@media screen and (max-width:600px) {
	header + section {padding-top:160px;}
	.page-work-grid .work-card {width:100%;}
	.page-project .row {margin-bottom:0px;}
	.page-project .row.two-img img,
	.page-project .row.three-img img {width:100%;}
	.accordion-panel {width:auto;}
	header {margin-bottom:20px;}
	.page-cap-project .help-text {font-size:14px;line-height:18px;}
	.page-cap-project .help-text span {font-size:14px;line-height:18px;}
}


@media screen and (max-width:500px) {
	header {padding:15px 0;}
	header + section {padding-top:110px;}
	.download {display:flex;flex-wrap:wrap;padding:45px 0 27px 20px;width:100%;float:left;box-sizing:border-box;font-size:24px;}
	.page-cap h2 {font-size:25px;}
	.page-cap-project h2 {font-size:17px;max-width:90%;}
	.work-card .card-text, .work-card .card-text:hover, .work-card .card-text:active {display:none;}
	.page-project {margin-top:7px;}
	.toggle-text {margin-top:0px;width:22px;height:22px;}
	.help-text {font-size:20px;line-height:24px;}
	.accordion {width:100%;}
	.accordion-bar {padding:16px 0 16px 20px;background-position:right 16px;}
	.accordion-bar h3 {font-size:24px;}
	.accordion-panel {width:100%;}
	.page-resume {margin-top:-52px;}
	.page-contact {margin-top:-26px;}
	.page-contact .row {font-size:23px;padding:26px 0 26px 26px;}
	.hamburger {position:relative;display:block;float:right;padding:0;z-index:2;}
	.nav {width:100%;float:left;transform:translateY(-400%);top:0;left:0;position:absolute;transition:all 500ms;background:#0e0e0d;z-index:0;}
	.hamburger.is-active + .nav {transform:translateY(0);top:30px;transition:all 500ms;}
	.nav li {width:calc(100% - 40px);padding:24px 0;border-bottom:1px solid #4f4f4e;margin-left:20px;}
	.nav li:last-of-type {border-bottom:none;}
}